.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

#collapse-button {
  margin-bottom: 10px;
}

#collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


